rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
		match /bank/maple {
    	allow read: if isUser();
    	allow update: if isUser();
    }
    match /transactions/{transactionID} {
    	allow read: if isUser();
    	allow create: if isUser();
    }
	}
}

function isUser() {
	return request.auth.uid in [
  	'fFbGPKG4YiVPePb7UNo74NqzlGl1', // kansa
    'laY1gnxSSgTxrFGvXOcrL1Nja3F2'  // maple
  ]
}
